<head>
    <h1>Person Found</h1>
    <h2 class="supplied-person">{{this.firstName}} {{this.lastName}}</h2>
</head>
<main>
    <dl>
        <dt>ID</dt>
        <dd>{{this.id}}</dd>
        <dt>First Name</dt>
        <dd>{{this.firstName}}</dd>
        <dt>Last Name</dt>
        <dd>{{this.lastName}}</dd>
        <dt>Address</dt>
        <dd>{{this.address}}</dd>
        <dt>Zip Code</dt>
        <dd>{{this.zip}}</dd>
        <dt>Phone</dt>
        <dd>{{this.phone}}</dd>
        <dt>Social Security Number</dt>
        <dd>{{this.ssn}}</dd>
    </dl>
</main>
